<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <style>
        body {
            background: url('{{ url_for('static', filename='img/modern-living-room-interior-design.jpg') }}') no-repeat center center fixed;
            background-size: cover;
            color: #ffffff;
        }
        .blog-content {
            background-color: rgba(0, 0, 0, 0.5);
            padding: 20px;
            border-radius: 10px;
            margin-top: 50px;
        }
        .blog-content h1 {
            color: #FFD700; /* Жёлтый цвет */
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">In-Terio</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/blog">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contacts">Contacts</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="blog-content">
            <h1>Наш Блог</h1>
            <p>Добро пожаловать в наш блог, где мы делимся новостями и идеями по дизайну интерьеров. Мы рассказываем о последних трендах, делимся полезными советами и вдохновляющими историями. Наши специалисты регулярно публикуют статьи о том, как создать комфортные и стильные пространства, которые отражают вашу индивидуальность.</p>
            <p>Следите за нашими обновлениями, чтобы не пропустить новые интересные материалы. Мы всегда рады делиться своими знаниями и помогать вам создавать уютные и функциональные интерьеры.</p>
            <p>Спасибо, что вы с нами!</p>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>




